<template>
    <h1>{{store.titleApp}}</h1> 
    <v-chip v-if="!succes" prepend-icon="mdi-alert-circle" color="red">Error getting memes</v-chip>
    <label for="customRange3" class="form-label">Número de memes : {{ rangeValue }} </label>
    <input 
    type="range" 
    class="form-range" 
    min="1" 
    max="100" 
    step="1" 
    id="customRange3"
    v-model="rangeValue"
    @change="handleRange"
    />
    <div class="row">
        <Meme v-for="meme in store.memes" :key="meme.id" :image="meme.url" :title="meme.name" :caption="meme.captions"/> 
    </div>
       
</template>

<script lang="ts" setup>
import { onMounted,Ref,ref } from 'vue'
import {useMemesStore} from '../store/memes'
import Meme from './Meme.vue';

let succes:boolean=true
const store=useMemesStore()
const rangeValue:Ref<number> =ref(1)

const handleRange=()=>{
    store.getMemes(rangeValue.value)
}

onMounted(async()=>{
    succes=await store.getMemes()
    rangeValue.value=store.memes.length
})
</script>

<style scoped>

</style>

