<template>
    <div class="card text-black bg-light  mb-3" style="width: 18rem;">
      <div class="card-header">
        {{title}}
    </div>
      <img class="card-img-top" :src="image" :alt="captions">
    </div>
  </template>

<script lang="ts" setup>

const props=defineProps(['height','image','title','captions'])

</script>

<style scoped>
</style>